rpi_nodes/node-camera-tabla.txt
[{"id":"95af52d0.6a50b","type":"wiotp-credentials","z":"ddbcb9bf.224348","name":"rpicamera","org":"z6hsac","devType":"raspberrypi","devId":"LifeOfPi"},{"id":"c46f5d93.3b90a","type":"wiotp in","z":"ddbcb9bf.224348","authType":"d","deviceKey":"95af52d0.6a50b","deviceType":"","deviceId":"","command":"slikaj","commandType":"g","name":"Slikaj command","x":118,"y":129,"wires":[["b396a2fe.4c696"]]},{"id":"93a1e9e6.6c5e18","type":"trigger","z":"ddbcb9bf.224348","op1":"1","op2":"0","op1type":"nul","op2type":"val","duration":"2","extend":false,"units":"s","reset":"","name":"Trigger analysis","x":732.5,"y":117,"wires":[["37d3891.fc82c76"]]},{"id":"b396a2fe.4c696","type":"exec","z":"ddbcb9bf.224348","command":"raspistill -o /home/pi/Documents/img.jpg -q 15 -md 4 -t 5000 -br 50 -hf -vf","addpay":false,"append":"","useSpawn":"","name":"Slikaj","x":326.5,"y":128.5,"wires":[["204565f1.dfba9a"],[],[]]},{"id":"204565f1.dfba9a","type":"template","z":"ddbcb9bf.224348","name":"Status of capture","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":" payload: {{payload}} !","x":512.5,"y":114,"wires":[["93a1e9e6.6c5e18"]]},{"id":"37d3891.fc82c76","type":"file in","z":"ddbcb9bf.224348","name":"Buffer image","filename":"/home/pi/Documents/img.jpg","format":"","x":285.5,"y":245,"wires":[["d99a545a.2665a8"]]},{"id":"d99a545a.2665a8","type":"function","z":"ddbcb9bf.224348","name":"Reading image","func":"msg['payload'] = {\"image\": msg.payload};\nmsg['payload']['_id'] = Date.now().toString();\nreturn msg;","outputs":1,"noerr":0,"x":485.5,"y":247,"wires":[["cefe7ed1.31018","66e4b9.ff991b48"]]},{"id":"cefe7ed1.31018","type":"http request","z":"ddbcb9bf.224348","name":"Insert into db","method":"POST","ret":"obj","url":"https://c09994d8-d57d-4131-aa4a-5dfb5753d009-bluemix:024a9cc35c0832bbdde4a7375085597ced78e2cb8c4bfcd4d7a9513649c4f2bb@c09994d8-d57d-4131-aa4a-5dfb5753d009-bluemix.cloudant.com/rpi","x":216.5,"y":401,"wires":[["c873f306.378c1","fc99c046.03664"]]},{"id":"c873f306.378c1","type":"switch","z":"ddbcb9bf.224348","name":"Check if success","property":"payload.ok","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":473,"y":415,"wires":[["f6b3fbab.094c08"],["51cdf81.fae3208"]]},{"id":"51cdf81.fae3208","type":"debug","z":"ddbcb9bf.224348","name":"","active":true,"console":"false","complete":"payload","x":687,"y":449,"wires":[]},{"id":"f6b3fbab.094c08","type":"template","z":"ddbcb9bf.224348","name":"Get image ID","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.id}}","x":697,"y":359,"wires":[["992e8ed.f66d17","d4c17cbf.2b3e8"]]},{"id":"992e8ed.f66d17","type":"wiotp out","z":"ddbcb9bf.224348","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"95af52d0.6a50b","deviceType":"","deviceId":"","event":"event","format":"json","name":"Send ID","x":965,"y":355,"wires":[]},{"id":"66e4b9.ff991b48","type":"debug","z":"ddbcb9bf.224348","name":"","active":false,"console":"false","complete":"false","x":717,"y":245,"wires":[]},{"id":"fc99c046.03664","type":"debug","z":"ddbcb9bf.224348","name":"","active":true,"console":"false","complete":"true","x":396,"y":461,"wires":[]},{"id":"d4c17cbf.2b3e8","type":"debug","z":"ddbcb9bf.224348","name":"","active":true,"console":"false","complete":"true","x":904,"y":414,"wires":[]},{"id":"177de42d.e8821c","type":"inject","z":"ddbcb9bf.224348","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":689,"y":294,"wires":[["992e8ed.f66d17"]]}]
