rpi_nodes/node-camera-tv.txt
[{"id":"bb6adc45.44952","type":"wiotp-credentials","z":"4d1d5005.b2e2b","name":"rpicamera-tv","org":"z6hsac","devType":"raspberrypi","devId":"rpi_camera_tv"},{"id":"ffa35ced.005ca","type":"wiotp in","z":"4d1d5005.b2e2b","authType":"d","deviceKey":"bb6adc45.44952","deviceType":"","deviceId":"","command":"slikaj","commandType":"g","name":"Slikaj command","x":210,"y":161,"wires":[["a1037c71.5efc8"]]},{"id":"7feefe13.8011","type":"trigger","z":"4d1d5005.b2e2b","op1":"1","op2":"0","op1type":"nul","op2type":"val","duration":"2","extend":false,"units":"s","reset":"","name":"Trigger analysis","x":824.5,"y":149,"wires":[["1e505350.e1afad"]]},{"id":"a1037c71.5efc8","type":"exec","z":"4d1d5005.b2e2b","command":"raspistill -o /home/pi/Documents/img.jpg -q 15 -md 4 -t 1 -br 50 -hf -vf","addpay":false,"append":"","useSpawn":"","name":"Slikaj","x":418.5,"y":160.5,"wires":[["c06519f7.3f9ae8"],[],[]]},{"id":"c06519f7.3f9ae8","type":"template","z":"4d1d5005.b2e2b","name":"Status of capture","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":" payload: {{payload}} !","x":604.5,"y":146,"wires":[["7feefe13.8011"]]},{"id":"1e505350.e1afad","type":"file in","z":"4d1d5005.b2e2b","name":"Buffer image","filename":"/home/pi/Documents/img.jpg","format":"","x":377.5,"y":277,"wires":[["75f9048b.8a06fc"]]},{"id":"75f9048b.8a06fc","type":"function","z":"4d1d5005.b2e2b","name":"Reading image","func":"msg['payload'] = {\"image\": msg.payload};\nmsg['payload']['_id'] = Date.now().toString();\nreturn msg;","outputs":1,"noerr":0,"x":577.5,"y":279,"wires":[["9d2d60bf.62d2a","4e9033f3.b16fcc"]]},{"id":"9d2d60bf.62d2a","type":"http request","z":"4d1d5005.b2e2b","name":"Insert into db","method":"POST","ret":"obj","url":"https://c09994d8-d57d-4131-aa4a-5dfb5753d009-bluemix:024a9cc35c0832bbdde4a7375085597ced78e2cb8c4bfcd4d7a9513649c4f2bb@c09994d8-d57d-4131-aa4a-5dfb5753d009-bluemix.cloudant.com/rpi","x":308.5,"y":433,"wires":[["968ee8b2.697118","d1d734c7.2e28c8"]]},{"id":"968ee8b2.697118","type":"switch","z":"4d1d5005.b2e2b","name":"Check if success","property":"payload.ok","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":565,"y":447,"wires":[["4c34b40c.b3cb4c"],["b510cac5.4aef38"]]},{"id":"b510cac5.4aef38","type":"debug","z":"4d1d5005.b2e2b","name":"","active":true,"console":"false","complete":"payload","x":779,"y":481,"wires":[]},{"id":"4c34b40c.b3cb4c","type":"template","z":"4d1d5005.b2e2b","name":"Get image ID","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.id}}","x":789,"y":391,"wires":[["81afff3c.7e5","a482ecd5.5b7d1"]]},{"id":"81afff3c.7e5","type":"wiotp out","z":"4d1d5005.b2e2b","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"bb6adc45.44952","deviceType":"","deviceId":"","event":"event","format":"json","name":"Send ID","x":1057,"y":387,"wires":[]},{"id":"4e9033f3.b16fcc","type":"debug","z":"4d1d5005.b2e2b","name":"","active":false,"console":"false","complete":"false","x":809,"y":277,"wires":[]},{"id":"d1d734c7.2e28c8","type":"debug","z":"4d1d5005.b2e2b","name":"","active":true,"console":"false","complete":"true","x":488,"y":493,"wires":[]},{"id":"a482ecd5.5b7d1","type":"debug","z":"4d1d5005.b2e2b","name":"","active":true,"console":"false","complete":"true","x":996,"y":446,"wires":[]},{"id":"113ac55.feec53b","type":"inject","z":"4d1d5005.b2e2b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":781,"y":326,"wires":[["81afff3c.7e5"]]}]
