rpi_nodes/node-hue-control.txt
[{"id":"298ba165.d6745e","type":"wiotp-credentials","z":"9c119e68.63ee6","name":"RaspberryForHue","org":"z6hsac","devType":"Raspberry","devId":"RaspberryHue"},{"id":"dca99f20.23566","type":"inject","z":"9c119e68.63ee6","name":"JSON","topic":"","payload":"{\"on\":true, \"sat\":50, \"bri\":254,\"hue\":600}","payloadType":"json","repeat":"","crontab":"","once":false,"x":504,"y":204,"wires":[["4c7a838f.b3857c"]]},{"id":"4c7a838f.b3857c","type":"http request","z":"9c119e68.63ee6","name":"LED stripe requesti","method":"PUT","ret":"txt","url":"http://192.168.1.59/api/09nm86Bon1sHHQJH4otWqhxFrjXygX3ll1L12-FJ/lights/{{lightid}}/state","x":863,"y":285,"wires":[["5f62933d.a09d6c"]]},{"id":"5f62933d.a09d6c","type":"debug","z":"9c119e68.63ee6","name":"","active":true,"console":"false","complete":"false","x":1116,"y":421,"wires":[]},{"id":"e2287652.1dd788","type":"wiotp in","z":"9c119e68.63ee6","authType":"d","deviceKey":"298ba165.d6745e","deviceType":"","deviceId":"","command":"LEDStripeCommand","commandType":"g","name":"LED Stripe Command","x":275,"y":387,"wires":[["ee636734.119c98","adabd66.f525428"]]},{"id":"ee636734.119c98","type":"debug","z":"9c119e68.63ee6","name":"","active":true,"console":"false","complete":"true","x":491,"y":442,"wires":[]},{"id":"8551c86e.7aae38","type":"http request","z":"9c119e68.63ee6","name":"Get all lights","method":"GET","ret":"txt","url":"http://192.168.1.59/api/09nm86Bon1sHHQJH4otWqhxFrjXygX3ll1L12-FJ/lights","x":662,"y":572,"wires":[["5f62933d.a09d6c","b85f89ee.47a078"]]},{"id":"b85f89ee.47a078","type":"wiotp out","z":"9c119e68.63ee6","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"298ba165.d6745e","deviceType":"","deviceId":"","event":"getLights","format":"json","name":"Send available lights to cloud","x":1083,"y":569,"wires":[]},{"id":"217a07b4.de85f8","type":"inject","z":"9c119e68.63ee6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":455,"y":552,"wires":[["8551c86e.7aae38"]]},{"id":"3bdfea3.fc42016","type":"wiotp in","z":"9c119e68.63ee6","authType":"d","deviceKey":"298ba165.d6745e","deviceType":"","deviceId":"","command":"getLights","commandType":"g","name":"Get available lights command","x":337,"y":593,"wires":[["8551c86e.7aae38"]]},{"id":"e23cd52b.1dc328","type":"http in","z":"9c119e68.63ee6","name":"","url":"/availableLights","method":"get","swaggerDoc":"","x":383,"y":703,"wires":[[]]},{"id":"b5787515.4a8788","type":"http response","z":"9c119e68.63ee6","name":"http response","x":900,"y":681,"wires":[]},{"id":"adabd66.f525428","type":"function","z":"9c119e68.63ee6","name":"","func":"msg.lightid = msg.payload.id;\ndelete msg.payload.id;\nreturn msg;","outputs":1,"noerr":0,"x":572,"y":387,"wires":[["4c7a838f.b3857c"]]},{"id":"4bc3eaa8.b43c14","type":"wiotp in","z":"9c119e68.63ee6","authType":"d","deviceKey":"298ba165.d6745e","deviceType":"","deviceId":"","command":"getState","commandType":"g","name":"Get light state command","x":306,"y":842,"wires":[["6c94ab2f.936b54","851d3277.7ae2d"]]},{"id":"e3c2b39e.1c3d5","type":"http request","z":"9c119e68.63ee6","name":"","method":"GET","ret":"txt","url":"http://192.168.1.59/api/09nm86Bon1sHHQJH4otWqhxFrjXygX3ll1L12-FJ/lights/{{lightid}}","x":583,"y":871,"wires":[["907bff3b.6f84","851d3277.7ae2d"]]},{"id":"907bff3b.6f84","type":"wiotp out","z":"9c119e68.63ee6","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"298ba165.d6745e","deviceType":"","deviceId":"","event":"getState","format":"json","name":"","x":859,"y":833,"wires":[]},{"id":"6c94ab2f.936b54","type":"function","z":"9c119e68.63ee6","name":"","func":"msg.lightid = msg.payload.id;\ndelete msg.payload.id;\nreturn msg;","outputs":1,"noerr":0,"x":442,"y":976,"wires":[["e3c2b39e.1c3d5"]]},{"id":"851d3277.7ae2d","type":"debug","z":"9c119e68.63ee6","name":"","active":true,"console":"false","complete":"false","x":752,"y":755,"wires":[]},{"id":"5f1e3af7.a0e1c4","type":"wiotp in","z":"9c119e68.63ee6","authType":"d","deviceKey":"298ba165.d6745e","deviceType":"","deviceId":"","command":"+","commandType":"g","name":"","x":232,"y":290,"wires":[["d2b69f80.2d496"]]},{"id":"d2b69f80.2d496","type":"debug","z":"9c119e68.63ee6","name":"","active":true,"console":"false","complete":"false","x":440,"y":284,"wires":[]}]
