bluemix_nodes/node-dynamic-pages.txt
[{"id":"677ee461.25921c","type":"http in","z":"e33bfd6c.fd118","name":"/last_image","url":"/last_image","method":"get","swaggerDoc":"","x":142,"y":110,"wires":[["355b1e5f.b8fb22"]]},{"id":"d8221d2b.664ee","type":"http response","z":"e33bfd6c.fd118","name":"response","x":1125.9999694824219,"y":112,"wires":[]},{"id":"3ae3a0e0.bdb9b","type":"cloudant in","z":"e33bfd6c.fd118","name":"Retrieve last image id","cloudant":"","database":"data","service":"IoTPlatformIICLjuljana-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":545,"y":112,"wires":[["e5141386.82955"]]},{"id":"355b1e5f.b8fb22","type":"template","z":"e33bfd6c.fd118","name":"Search ID","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"last_img_id","x":327,"y":110,"wires":[["3ae3a0e0.bdb9b"]]},{"id":"6dad40fa.0408","type":"http in","z":"e33bfd6c.fd118","name":"","url":"/image","method":"get","swaggerDoc":"","x":179.9409942626953,"y":519.0139640643274,"wires":[["bf38a4fe.565988","90d9ba8c.da5498"]]},{"id":"bf38a4fe.565988","type":"debug","z":"e33bfd6c.fd118","name":"","active":false,"console":"false","complete":"req.query","x":336.9513854980469,"y":606.3334106280481,"wires":[]},{"id":"90d9ba8c.da5498","type":"switch","z":"e33bfd6c.fd118","name":"","property":"req.query.id","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":395.94793701171875,"y":518.3611205889856,"wires":[["7707ebfa.320b34"],["ca494019.b1066"]]},{"id":"ca494019.b1066","type":"template","z":"e33bfd6c.fd118","name":"error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ERROR","x":537.9444732666016,"y":561.6493896319544,"wires":[["fdfa0784.bf3468"]]},{"id":"fdfa0784.bf3468","type":"http response","z":"e33bfd6c.fd118","name":"response","x":1157.0000762939453,"y":513.8888652883929,"wires":[]},{"id":"69052b79.6c9cf4","type":"cloudant in","z":"e33bfd6c.fd118","name":"Get image","cloudant":"","database":"rpi","service":"IoTPlatformIICLjuljana-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":725.0000610351562,"y":513.8888500296039,"wires":[["deca3768.7ead08"]]},{"id":"deca3768.7ead08","type":"function","z":"e33bfd6c.fd118","name":"Prepare response","func":"msg.payload = new Buffer(msg.payload['image']);\nmsg.headers = {\n \"Content-Type\":\"image/jpeg\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":950.8958129882812,"y":512.4444072805804,"wires":[["fdfa0784.bf3468"]]},{"id":"7707ebfa.320b34","type":"function","z":"e33bfd6c.fd118","name":"Search id","func":"msg.payload = msg.req.query.id;\n\nreturn msg;","outputs":1,"noerr":0,"x":558.9409942626953,"y":514.9999755694544,"wires":[["69052b79.6c9cf4"]]},{"id":"472b7c5e.e64e34","type":"comment","z":"e33bfd6c.fd118","name":"Strežnik zadnje slike","info":"","x":306.95140075683594,"y":60.3785003497278,"wires":[]},{"id":"3172a140.3555be","type":"comment","z":"e33bfd6c.fd118","name":"Strežnik za slike","info":"Streže nekaj(5) zadnjih slik:\nurl/slika?no=<no_slike>","x":296.9410095214844,"y":437.4861205889856,"wires":[]},{"id":"2b6d0a7a.fc37e6","type":"http in","z":"e33bfd6c.fd118","name":"","url":"/vr_info","method":"get","swaggerDoc":"","x":141.9479217529297,"y":793.5590991561799,"wires":[["5ba0a845.04a138"]]},{"id":"5ba0a845.04a138","type":"switch","z":"e33bfd6c.fd118","name":"","property":"req.query.id","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":350.89581298828125,"y":793.1111011093049,"wires":[["44e1ea2e.b216b4"],["673e5ce2.2512e4"]]},{"id":"44e1ea2e.b216b4","type":"function","z":"e33bfd6c.fd118","name":"Search id","func":"msg.payload = msg.payload['id'];\nreturn msg;","outputs":1,"noerr":0,"x":521.8889007568359,"y":789.7500171249299,"wires":[["ad7cff0d.8c59c"]]},{"id":"673e5ce2.2512e4","type":"template","z":"e33bfd6c.fd118","name":"error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ERROR","x":520.8923187255859,"y":840.3993091171174,"wires":[["294743cf.09af8c"]]},{"id":"ad7cff0d.8c59c","type":"cloudant in","z":"e33bfd6c.fd118","name":"Retrieve image","cloudant":"","database":"vr_info","service":"IoTPlatformIICLjuljana-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":725.9479370117188,"y":786.6389526202356,"wires":[["294743cf.09af8c"]]},{"id":"294743cf.09af8c","type":"http response","z":"e33bfd6c.fd118","name":"response","x":914.9479370117188,"y":785.3994506671106,"wires":[]},{"id":"712b1bd7.120f44","type":"comment","z":"e33bfd6c.fd118","name":"Strežnik za VR info","info":"","x":289.95140075683594,"y":711.2778686358606,"wires":[]},{"id":"1601e4b2.3ec96b","type":"http request","z":"e33bfd6c.fd118","name":"Get image","method":"GET","ret":"bin","url":"","tls":"","x":947.9374542236328,"y":113.58689507142958,"wires":[["d8221d2b.664ee"]]},{"id":"e5141386.82955","type":"function","z":"e33bfd6c.fd118","name":"Prepare request","func":"msg.url = \"http://iotplatformiicljuljana.mybluemix.net/image?id=\" + msg.payload.img_id;\n\nreturn msg;","outputs":1,"noerr":0,"x":763.9479217529297,"y":114.54168701171875,"wires":[["1601e4b2.3ec96b"]]},{"id":"72927d42.fad6c4","type":"http in","z":"e33bfd6c.fd118","name":"/last_vr_info","url":"/last_vr_info","method":"get","swaggerDoc":"","x":139.89584350585938,"y":300.1111358477747,"wires":[["e93b005d.d9524"]]},{"id":"f75e8170.22e4a","type":"http response","z":"e33bfd6c.fd118","name":"response","x":1123.8958129882812,"y":302.1111358477747,"wires":[]},{"id":"2df95acb.9809d6","type":"cloudant in","z":"e33bfd6c.fd118","name":"Retrieve last image id","cloudant":"","database":"data","service":"IoTPlatformIICLjuljana-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":542.8958435058594,"y":302.1111358477747,"wires":[["de6c5a2a.165ab8"]]},{"id":"e93b005d.d9524","type":"template","z":"e33bfd6c.fd118","name":"Search ID","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"last_img_id","x":324.8958435058594,"y":300.1111358477747,"wires":[["2df95acb.9809d6"]]},{"id":"e76c001f.e2ac8","type":"comment","z":"e33bfd6c.fd118","name":"Strežnik vr info zadnje slike","info":"","x":324.8472442626953,"y":250.48963619750248,"wires":[]},{"id":"9efd3b39.6ffe08","type":"http request","z":"e33bfd6c.fd118","name":"Get info","method":"GET","ret":"bin","url":"","tls":"","x":948.8333129882812,"y":304.69801939269655,"wires":[["f75e8170.22e4a"]]},{"id":"de6c5a2a.165ab8","type":"function","z":"e33bfd6c.fd118","name":"Prepare request","func":"var img_no = msg.payload.data;\n\nmsg.url = \"http://iotplatformiicljuljana.mybluemix.net/vr_info?id=\" + msg.payload.img_id;\n\nreturn msg;","outputs":1,"noerr":0,"x":761.8437652587891,"y":304.6528228594934,"wires":[["9efd3b39.6ffe08"]]},{"id":"8b907a60.b16408","type":"comment","z":"e33bfd6c.fd118","name":"Strežnik zadnjih podatkov","info":"","x":311.94793701171875,"y":931.6007446124231,"wires":[]},{"id":"368ebab8.211926","type":"http in","z":"e33bfd6c.fd118","name":"","url":"/sensor_data","method":"get","swaggerDoc":"","x":144.94793701171875,"y":1062.6007446124231,"wires":[["4e6efed8.2c81f","e2ccafa2.6f6ed"]]},{"id":"4e6efed8.2c81f","type":"debug","z":"e33bfd6c.fd118","name":"","active":false,"console":"false","complete":"req.query","x":321.9583282470703,"y":1000.9201873614466,"wires":[]},{"id":"e2ccafa2.6f6ed","type":"switch","z":"e33bfd6c.fd118","name":"","property":"req.query.sensor","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":360.9548645019531,"y":1080.9479621722376,"wires":[["145fc4f8.e9432b"],["abe662e1.759b5"]]},{"id":"145fc4f8.e9432b","type":"function","z":"e33bfd6c.fd118","name":"Search id","func":"msg.payload = msg.payload['sensor']; //query id\nreturn msg;","outputs":1,"noerr":0,"x":539.9479370117188,"y":1075.5868285967981,"wires":[["267df0d5.15799"]]},{"id":"abe662e1.759b5","type":"template","z":"e33bfd6c.fd118","name":"error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ERROR","x":533.9513854980469,"y":1143.2362426592981,"wires":[["f46b0a8d.8e1cc8"]]},{"id":"267df0d5.15799","type":"cloudant in","z":"e33bfd6c.fd118","name":"Retrieve data","cloudant":"","database":"last_data","service":"IoTPlatformIICLjuljana-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":708.0070190429688,"y":1074.4757446124231,"wires":[["f46b0a8d.8e1cc8"]]},{"id":"f46b0a8d.8e1cc8","type":"http response","z":"e33bfd6c.fd118","name":"response","x":904.0070190429688,"y":1073.4757446124231,"wires":[]},{"id":"a21705a9.411368","type":"function","z":"e33bfd6c.fd118","name":"Set blockchain query","func":"msg.payload = {\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"query\",\n  \"params\": {\n    \"type\": 1,\n    \"chaincodeID\": {\n      \"name\": \"e7b9f3efcaf53b7017d38c90680d58b1c9fd1764232269f29fbcb39e9ff0ef3b70a7cfe7e2f2019a4b9ee5eda72664b28e4e298535137310790e2efc09e7eba5\"\n    },\n    \"ctorMsg\": {\n      \"function\": \"raw_metrics\",\n      \"args\": [\n        \"10\"\n      ]\n    },\n    \"secureContext\": \"admin\"\n  },\n  \"id\": 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":429.94793701171875,"y":1578.6007080078125,"wires":[["e553ca90.845438"]]},{"id":"e553ca90.845438","type":"http request","z":"e33bfd6c.fd118","name":"Send request","method":"POST","ret":"obj","url":"https://b4fcc71b-4317-4165-88c9-72b66701dbac_vp1.us.blockchain.ibm.com:443/chaincode","tls":"","x":646.9479370117188,"y":1579.6007080078125,"wires":[["3de39637.dd606a"]]},{"id":"a70cd938.2e20a8","type":"function","z":"e33bfd6c.fd118","name":"Set blockchain query","func":"msg.payload = {\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"query\",\n  \"params\": {\n    \"type\": 1,\n    \"chaincodeID\": {\n      \"name\": \"e7b9f3efcaf53b7017d38c90680d58b1c9fd1764232269f29fbcb39e9ff0ef3b70a7cfe7e2f2019a4b9ee5eda72664b28e4e298535137310790e2efc09e7eba5\"\n    },\n    \"ctorMsg\": {\n      \"function\": \"picture_count\",\n      \"args\": [\n      ]\n    },\n    \"secureContext\": \"admin\"\n  },\n  \"id\": 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":415.94793701171875,"y":1645.6007080078125,"wires":[["5cb607d.b1b40f8"]]},{"id":"5cb607d.b1b40f8","type":"http request","z":"e33bfd6c.fd118","name":"Send request","method":"POST","ret":"obj","url":"https://b4fcc71b-4317-4165-88c9-72b66701dbac_vp1.us.blockchain.ibm.com:443/chaincode","tls":"","x":632.9479370117188,"y":1646.6007080078125,"wires":[["fe063885.61afd8"]]},{"id":"69a58fdb.f74db","type":"http in","z":"e33bfd6c.fd118","name":"","url":"/blockchain_count","method":"get","swaggerDoc":"","x":182.94793701171875,"y":1646.6007080078125,"wires":[["a70cd938.2e20a8"]]},{"id":"a33e827b.5f01a","type":"http response","z":"e33bfd6c.fd118","name":"","x":980.9479370117188,"y":1648.6007080078125,"wires":[]},{"id":"fe063885.61afd8","type":"function","z":"e33bfd6c.fd118","name":"Parse message","func":"msg.payload = msg.payload.result.message\nreturn msg;","outputs":1,"noerr":0,"x":814.9479370117188,"y":1647.6007080078125,"wires":[["a33e827b.5f01a"]]},{"id":"3de39637.dd606a","type":"function","z":"e33bfd6c.fd118","name":"Get result","func":"msg.payload = msg.payload.result.message;\n\nreturn msg;","outputs":1,"noerr":0,"x":819.9479370117188,"y":1579.6007080078125,"wires":[["c4d27470.967678"]]},{"id":"39413000.7183c","type":"http in","z":"e33bfd6c.fd118","name":"","url":"/blockchain_images","method":"get","swaggerDoc":"","x":178.94793701171875,"y":1581.6007080078125,"wires":[["a21705a9.411368"]]},{"id":"c4d27470.967678","type":"http response","z":"e33bfd6c.fd118","name":"","x":992.9479370117188,"y":1579.6007080078125,"wires":[]},{"id":"d3b92d97.58bef","type":"comment","z":"e33bfd6c.fd118","name":"Strežnik za blockchain query-je","info":"","x":251.94793701171875,"y":1514.6007080078125,"wires":[]},{"id":"550df607.900358","type":"comment","z":"e33bfd6c.fd118","name":"Strežnik zadnjih podatkov sobe","info":"","x":335,"y":1222,"wires":[]},{"id":"6308641a.ea9e4c","type":"http in","z":"e33bfd6c.fd118","name":"","url":"/room_data","method":"get","swaggerDoc":"","x":134,"y":1331,"wires":[["cb1f2f11.61dd3"]]},{"id":"cb1f2f11.61dd3","type":"switch","z":"e33bfd6c.fd118","name":"","property":"req.query.room","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":360.0069274902344,"y":1349.3472175598145,"wires":[["6a543fb8.7ef6f"],["e16a0576.5e7158"]]},{"id":"6a543fb8.7ef6f","type":"function","z":"e33bfd6c.fd118","name":"Find sensor","func":"var roomToSensor = {\n    \"Soba 9\": \"FF-368\",\n    \"Soba 1a\": \"FF-321\",\n    \"Soba 1b\": \"FF-369\",\n    \"Soba 2\": \"FF-382\",\n    \"Soba 8\": \"FF-394\",\n    \"Innovation tabla\": \"FF-431\",\n    \"Soba 3\": \"FF-353\",\n    \"Soba 7\": \"FF-326\",\n    \"Datacenter 1\": \"FF-409\",\n    \"Datacenter 2\": \"FF-390\",\n    \"Datacenter 3\": \"FF-430\",\n    \"Datacenter 4\": \"FF-424\",\n    \"Watson plakat\": \"FF-318\",\n    \"Soba 6\": \"FF-327\",\n    \"Soba 5\": \"FF-301\",\n    \"WC hodnik\": \"FF-433\",\n    \"Zunanji senzor\": \"70B3D57F800000DA\",\n    \"IoT tabla 1\": \"FF-398\",\n    \"IoT tabla 2\": \"70B3D57F800000D5\"\n};\n\nvar room = msg.payload['room'];\n\nmsg.payload = roomToSensor[room]; // Query _id\n\nreturn msg;","outputs":1,"noerr":0,"x":529,"y":1342.986083984375,"wires":[["2d0b8f79.253a5","a3d0d215.cd833"]]},{"id":"e16a0576.5e7158","type":"template","z":"e33bfd6c.fd118","name":"error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ERROR","x":533.0034484863281,"y":1411.635498046875,"wires":[["a3050189.a1623"]]},{"id":"2d0b8f79.253a5","type":"cloudant in","z":"e33bfd6c.fd118","name":"Retrieve data","cloudant":"","database":"last_data","service":"IoTPlatformIICLjuljana-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":707.05908203125,"y":1342.875,"wires":[["a3050189.a1623"]]},{"id":"a3050189.a1623","type":"http response","z":"e33bfd6c.fd118","name":"response","x":903.05908203125,"y":1341.875,"wires":[]},{"id":"a3d0d215.cd833","type":"debug","z":"e33bfd6c.fd118","name":"","active":false,"console":"false","complete":"false","x":738,"y":1294,"wires":[]}]
