bluemix_nodes/node-picture-VR.txt
[{"id":"517a2e9d.e2d51","type":"ibmiot out","z":"9a8545de.ec8a28","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"LifeOfPi","deviceType":"raspberrypi","eventCommandType":"slikaj","format":"json","data":"none","qos":"2","name":"Slikaj command","service":"registered","x":1205.05224609375,"y":120.39930725097656,"wires":[]},{"id":"a6d20360.cfbaa","type":"ibmiot in","z":"9a8545de.ec8a28","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"LifeOfPi","applicationId":"","deviceType":"raspberrypi","eventType":"event","commandType":"","format":"json","name":"Prejmi ID slike","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":138.0520782470703,"y":535.3992919921875,"wires":[["672ce674.f955e8","4d71593f.6ebc28"]]},{"id":"312cdbf.8afd824","type":"cloudant in","z":"9a8545de.ec8a28","name":"Get last_id record","cloudant":"","database":"data","service":"IoTPlatformIICLjuljana-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":681.0520629882812,"y":541.3992919921875,"wires":[["6d1fa4df.7ff1fc"]]},{"id":"ea2416fe.e469c8","type":"visual-recognition-v3","z":"9a8545de.ec8a28","name":"Visual Recognition","apikey":"","image-feature":"detectFaces","lang":"en","x":509.0520324707031,"y":709.3992919921875,"wires":[["5d2d9666.d43ef8","adba02c1.8349e"]]},{"id":"77e9d91a.a1e4e8","type":"function","z":"9a8545de.ec8a28","name":"Parse data","func":"msg.payload = msg.cloudant;\nmsg.payload[\"faces\"] = msg.result['images'][0]['faces'];\n\nmsg.payload[\"vr-info\"] = \"vr-done\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1065.05224609375,"y":698.3993072509766,"wires":[["e492bc08.f6d3c"]]},{"id":"5d2d9666.d43ef8","type":"debug","z":"9a8545de.ec8a28","name":"","active":true,"console":"false","complete":"result","x":780.052001953125,"y":867.3993835449219,"wires":[]},{"id":"e492bc08.f6d3c","type":"cloudant out","z":"9a8545de.ec8a28","name":"Add image VR info","cloudant":"","database":"vr_info","service":"IoTPlatformIICLjuljana-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1254.55224609375,"y":698.3993377685547,"wires":[]},{"id":"6d1fa4df.7ff1fc","type":"function","z":"9a8545de.ec8a28","name":"prepare db insert","func":"/*var number_of_pictures = 5;\n\nvar newest_img_no = parseInt(msg.payload['data']);\nvar oldest_img_no = ((newest_img_no + 1) % number_of_pictures) + \"\";*/\n\nmsg.payload = msg.cloudant;\nmsg.payload['img_id'] = msg.rpi_img_id;\nmsg.payload['vr-done'] = \"false\";\nmsg.payload['cc-done'] = \"false\";\n\nreturn msg;","outputs":"1","noerr":0,"x":923.9930419921875,"y":539.5104064941406,"wires":[["54901ea9.05d0a","21edab2d.279174","8eaa4bad.4195f8"]]},{"id":"672ce674.f955e8","type":"function","z":"9a8545de.ec8a28","name":"Save data and prepare query","func":"msg.rpi_img_id = msg.payload.d.value;\n\nmsg.payload = \"last_img_id\";\n\nreturn msg;","outputs":1,"noerr":0,"x":416.9965057373047,"y":541.5034637451172,"wires":[["312cdbf.8afd824","e4576acd.37a168"]]},{"id":"54901ea9.05d0a","type":"cloudant out","z":"9a8545de.ec8a28","name":"Update zadnji id slike","cloudant":"","database":"data","service":"IoTPlatformIICLjuljana-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1171.98974609375,"y":509.91319274902344,"wires":[]},{"id":"8eaa4bad.4195f8","type":"trigger","z":"9a8545de.ec8a28","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"2","extend":false,"units":"s","reset":"","name":"delay 2s","x":121,"y":711.2430877685547,"wires":[["c8400f5e.e3371"]]},{"id":"c8400f5e.e3371","type":"function","z":"9a8545de.ec8a28","name":"prepare vr data","func":"msg.payload = \"http://iotplatformiicljuljana.mybluemix.net/image?id=\" + msg.rpi_img_id;\n\nmsg.params = {\n    \"classifier_ids\": \"umpk_1767059794\",\n    \"owners\": \"14b01268-e8b3-4e7c-a222-0ad65119df13\",\n    \"treshold\": \"0.0\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":285.98956298828125,"y":711.5104064941406,"wires":[["ea2416fe.e469c8","a4d571fa.8cbdb"]]},{"id":"152e03af.3566dc","type":"cloudant in","z":"9a8545de.ec8a28","name":"Refresh image data","cloudant":"","database":"vr_info","service":"IoTPlatformIICLjuljana-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":875.9965209960938,"y":699.8472290039062,"wires":[["77e9d91a.a1e4e8"]]},{"id":"adba02c1.8349e","type":"function","z":"9a8545de.ec8a28","name":"Query ID","func":"msg.payload = msg.rpi_img_id + \"\";\nreturn msg;","outputs":1,"noerr":0,"x":701.0034790039062,"y":698.6111145019531,"wires":[["152e03af.3566dc"]]},{"id":"5047f52.19fe20c","type":"comment","z":"9a8545de.ec8a28","name":"Slikaj trigger","info":"","x":207.99305725097656,"y":56,"wires":[]},{"id":"4b52135a.ca626c","type":"comment","z":"9a8545de.ec8a28","name":"Prejmi ID, shrani v bazo in zaženi VR","info":"","x":246,"y":480.0069580078125,"wires":[]},{"id":"a4d571fa.8cbdb","type":"visual-recognition-v3","z":"9a8545de.ec8a28","name":"Custom classifiers","apikey":"","image-feature":"classifyImage","lang":"en","x":510.0000305175781,"y":772.96875,"wires":[["5d2d9666.d43ef8","9a051d12.00d6c"]]},{"id":"fc23f4a.8b30008","type":"function","z":"9a8545de.ec8a28","name":"Parse data","func":"msg.payload = msg.cloudant;\nif(msg.result['images'][0]['classifiers'].length > 0) {\n    msg.payload[\"classes\"] = msg.result['images'][0]['classifiers'][0]['classes'];\n} else {\n    msg.payload[\"classes\"] = [];\n}\n\nmsg.payload[\"cc-info\"] = \"cc-done\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1072.9479522705078,"y":779.2882080078125,"wires":[["1e620d13.53cd53"]]},{"id":"1e620d13.53cd53","type":"cloudant out","z":"9a8545de.ec8a28","name":"Add image CC info","cloudant":"","database":"vr_info","service":"IoTPlatformIICLjuljana-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1262.4479522705078,"y":779.2882385253906,"wires":[]},{"id":"e3bd950f.083298","type":"function","z":"9a8545de.ec8a28","name":"Check sensor","func":"var data = msg.payload['d'];\nif(data['ID'] == \"FF-160\" && typeof data['accX'] !== undefined) {\n    //var total_absolute_acc = Math.abs(parseFloat(data['accX'])) + Math.abs(parseFloat(data['accY'])) + Math.abs(parseFloat(data['accZ']));\n    //msg.payload = total_absolute_acc;\n    msg.payload = 1.0;\n    return msg;\n}","outputs":1,"noerr":0,"x":320.9583282470703,"y":117.22568702697754,"wires":[["a64bc4bb.88b538","a33c197.c23f2e8"]]},{"id":"a33c197.c23f2e8","type":"trigger","z":"9a8545de.ec8a28","op1":"0","op2":"","op1type":"num","op2type":"nul","duration":"5","extend":true,"units":"s","reset":"","name":"delay","x":726.9480438232422,"y":120.85068702697754,"wires":[["8844d682.69c058"]]},{"id":"518cc904.feafc8","type":"inject","z":"9a8545de.ec8a28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":924.9930419921875,"y":165.35765075683594,"wires":[["517a2e9d.e2d51"]]},{"id":"8844d682.69c058","type":"function","z":"9a8545de.ec8a28","name":"Create empty msg object","func":"var new_msg = {\"payload\": {}};\nreturn new_msg;","outputs":1,"noerr":0,"x":935.99658203125,"y":121.5,"wires":[["517a2e9d.e2d51"]]},{"id":"e7617122.7547","type":"ibmiot in","z":"9a8545de.ec8a28","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"FF-160","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"All","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":109,"y":117,"wires":[["e3bd950f.083298","ef4947e7.cf3df8"]]},{"id":"a64bc4bb.88b538","type":"debug","z":"9a8545de.ec8a28","name":"","active":true,"console":"false","complete":"payload","x":561,"y":184,"wires":[]},{"id":"78528b84.5965f4","type":"http request","z":"9a8545de.ec8a28","name":"Send request","method":"POST","ret":"txt","url":"https://b4fcc71b-4317-4165-88c9-72b66701dbac_vp1.us.blockchain.ibm.com:443/chaincode","tls":"","x":1052,"y":627.9999847412109,"wires":[["5fcddaa8.3ad004"]]},{"id":"5fcddaa8.3ad004","type":"debug","z":"9a8545de.ec8a28","name":"","active":true,"console":"false","complete":"false","x":1240,"y":628.9999847412109,"wires":[]},{"id":"9a051d12.00d6c","type":"function","z":"9a8545de.ec8a28","name":"Query ID","func":"msg.payload = msg.rpi_img_id + \"\";\nreturn msg;","outputs":1,"noerr":0,"x":724,"y":774.9999847412109,"wires":[["5456169d.efa688"]]},{"id":"5456169d.efa688","type":"cloudant in","z":"9a8545de.ec8a28","name":"Refresh image data","cloudant":"","database":"vr_info","service":"IoTPlatformIICLjuljana-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":891.9930419921875,"y":774.2360687255859,"wires":[["fc23f4a.8b30008"]]},{"id":"21edab2d.279174","type":"function","z":"9a8545de.ec8a28","name":"Prepare vr_info record","func":"msg.payload = {\n    \"_id\": msg.rpi_img_id + \"\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":1173,"y":560.9999847412109,"wires":[["312356af.2ddf2a"]]},{"id":"312356af.2ddf2a","type":"cloudant out","z":"9a8545de.ec8a28","name":"Insert vr_info record","cloudant":"","database":"vr_info","service":"IoTPlatformIICLjuljana-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1413,"y":560.9999847412109,"wires":[]},{"id":"e4576acd.37a168","type":"function","z":"9a8545de.ec8a28","name":"Set blockchain query","func":"msg.payload = {\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"invoke\",\n  \"params\": {\n    \"type\": 1,\n    \"chaincodeID\": {\n      \"name\": \"e7b9f3efcaf53b7017d38c90680d58b1c9fd1764232269f29fbcb39e9ff0ef3b70a7cfe7e2f2019a4b9ee5eda72664b28e4e298535137310790e2efc09e7eba5\"\n    },\n    \"ctorMsg\": {\n      \"function\": \"add_picture\",\n      \"args\": [\n        msg.rpi_img_id + \"\"\n      ]\n    },\n    \"secureContext\": \"admin\"\n  },\n  \"id\": 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":835,"y":626.9999847412109,"wires":[["78528b84.5965f4"]]},{"id":"812da18a.53315","type":"http in","z":"9a8545de.ec8a28","name":"","url":"/take_picture","method":"get","swaggerDoc":"","x":695,"y":46,"wires":[["8844d682.69c058","91d9d9d2.9730c8"]]},{"id":"ff4229e5.484468","type":"http response","z":"9a8545de.ec8a28","name":"","x":1042,"y":47,"wires":[]},{"id":"91d9d9d2.9730c8","type":"template","z":"9a8545de.ec8a28","name":"message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"OK","x":894,"y":46,"wires":[["ff4229e5.484468"]]},{"id":"57affae9.ff1c04","type":"ibmiot out","z":"9a8545de.ec8a28","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"rpi_camera_tv","deviceType":"raspberrypi","eventCommandType":"slikaj","format":"json","data":"none","qos":"2","name":"Slikaj command - TV","service":"registered","x":1218,"y":281,"wires":[]},{"id":"84e7dc68.bd3ca","type":"inject","z":"9a8545de.ec8a28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":920,"y":260,"wires":[["57affae9.ff1c04"]]},{"id":"6f07ee6e.70b9b","type":"ibmiot in","z":"9a8545de.ec8a28","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"rpi_camera_tv","applicationId":"","deviceType":"raspberrypi","eventType":"event","commandType":"","format":"json","name":"Prejmi ID slike TV","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":141,"y":600.9999847412109,"wires":[["672ce674.f955e8","4d71593f.6ebc28"]]},{"id":"8451df43.6638c","type":"http in","z":"9a8545de.ec8a28","name":"","url":"/take_picture_tv","method":"get","swaggerDoc":"","x":657,"y":330,"wires":[["a68ab1a2.3d7bd","baa5f5c9.1416b8"]]},{"id":"d4b86c51.31a61","type":"http response","z":"9a8545de.ec8a28","name":"","x":1060,"y":340,"wires":[]},{"id":"a68ab1a2.3d7bd","type":"template","z":"9a8545de.ec8a28","name":"message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"OK","x":912,"y":339,"wires":[["d4b86c51.31a61"]]},{"id":"baa5f5c9.1416b8","type":"function","z":"9a8545de.ec8a28","name":"Create empty msg object","func":"var new_msg = {\"payload\": {}};\nreturn new_msg;","outputs":1,"noerr":0,"x":945,"y":295,"wires":[["57affae9.ff1c04"]]},{"id":"4d71593f.6ebc28","type":"debug","z":"9a8545de.ec8a28","name":"","active":true,"console":"false","complete":"true","x":374,"y":594,"wires":[]},{"id":"ef4947e7.cf3df8","type":"debug","z":"9a8545de.ec8a28","name":"","active":false,"console":"false","complete":"false","x":279,"y":210,"wires":[]}]
