bluemix_nodes/node-phillipsHue-control.txt
[{"id":"96eb1586.958078","type":"ibmiot in","z":"20de1502.094662","authentication":"boundService","apiKey":"73435fdc.1640e8","inputType":"evt","deviceId":"mbedgw-01","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"mbedgw-01 Gateway","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":130,"y":244.26663208007812,"wires":[["57d574c.db2a20c"]]},{"id":"52ee69b1.ee7f68","type":"inject","z":"20de1502.094662","name":"Ugasni LED Stripe Trigger","topic":"","payload":"{\"on\":false}","payloadType":"json","repeat":"","crontab":"","once":false,"x":936.4999237060547,"y":69.800048828125,"wires":[["40fbeb3b.0c1bec"]]},{"id":"40fbeb3b.0c1bec","type":"ibmiot out","z":"20de1502.094662","authentication":"boundService","apiKey":"d3403521.4f15","outputType":"cmd","deviceId":"RaspberryHue","deviceType":"Raspberry","eventCommandType":"LEDStripeCommand","format":"json","data":"on","qos":0,"name":"LED Stripe Command (raspberry)","service":"registered","x":1574.4999694824219,"y":383.6001281738281,"wires":[]},{"id":"642df8e.9acda88","type":"inject","z":"20de1502.094662","name":"Prizgi LED Stripe Trigger","topic":"","payload":"{\"on\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":938.4999389648438,"y":107,"wires":[["40fbeb3b.0c1bec"]]},{"id":"88b1cbff.a26088","type":"inject","z":"20de1502.094662","name":"Intenziteta LED Stripa","topic":"","payload":"{\"bri\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"x":930.4999237060547,"y":150.99993896484375,"wires":[["40fbeb3b.0c1bec"]]},{"id":"d272fb18.867f58","type":"function","z":"20de1502.094662","name":"Vrni vrednost pot1","func":"\nreturn {payload:msg.payload.d.potentiometer1};","outputs":1,"noerr":0,"x":650.4999237060547,"y":217.19989013671875,"wires":[["2c40e863.1fd218"]]},{"id":"2c40e863.1fd218","type":"range","z":"20de1502.094662","minin":"0","maxin":"1","minout":"0","maxout":"255","action":"scale","round":true,"name":"Mapiraj Range 10-255","x":868.4999389648438,"y":218,"wires":[["400c1c14.ebd16c"]]},{"id":"400c1c14.ebd16c","type":"template","z":"20de1502.094662","name":"Convert","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"bri\":{{payload}},\n    \"id\":4\n}","x":1056.4999389648438,"y":216.800048828125,"wires":[["40fbeb3b.0c1bec"]]},{"id":"b2b2f730.8e5ce8","type":"function","z":"20de1502.094662","name":"Vrni vrednost pot2","func":"\nreturn {payload:msg.payload.d.potentiometer2,param:msg.payload.d.pot2param_sat};","outputs":1,"noerr":0,"x":574.1999359130859,"y":314.19989013671875,"wires":[["607a6f73.5e8e18"]]},{"id":"b589b9f.8b805c8","type":"range","z":"20de1502.094662","minin":"0","maxin":"1","minout":"0","maxout":"255","action":"scale","round":true,"name":"Mapiraj Range 10-255","x":946.199951171875,"y":278.00006103515625,"wires":[["f210387c.c53fd"]]},{"id":"f210387c.c53fd","type":"template","z":"20de1502.094662","name":"Convert","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"sat\":{{payload}},\n    \"id\":4\n}","x":1126.199951171875,"y":277.80010986328125,"wires":[["40fbeb3b.0c1bec"]]},{"id":"3f6b27e2.81a0f8","type":"weather_insights","z":"20de1502.094662","name":"IIC Ljubljana forecast","service":"/forecast/hourly/48hour.json","geocode":"37.566667,126.966667","units":"m","language":"","x":252.49998474121094,"y":468.8000793457031,"wires":[["8680b115.c59c98"]]},{"id":"3397527f.d994be","type":"inject","z":"20de1502.094662","name":"Weather forecast LED interval","topic":"","payload":"","payloadType":"str","repeat":"1200","crontab":"","once":false,"x":193.49998474121094,"y":382.0000305175781,"wires":[["3f6b27e2.81a0f8"]]},{"id":"57d574c.db2a20c","type":"function","z":"20de1502.094662","name":"IF Refresh","func":"if (msg.payload.d.refresh)\n    return msg;","outputs":1,"noerr":0,"x":370.50001525878906,"y":247.00003051757812,"wires":[["d272fb18.867f58","b2b2f730.8e5ce8","3d5523b5.acfd9c"]]},{"id":"9f043f34.e12f58","type":"debug","z":"20de1502.094662","name":"","active":true,"console":"false","complete":"true","x":367.4999694824219,"y":689.6000366210938,"wires":[]},{"id":"607a6f73.5e8e18","type":"switch","z":"20de1502.094662","name":"Sat,Hue?","property":"param","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":750.4999237060547,"y":313.40008544921875,"wires":[["b589b9f.8b805c8"],["858f70.07c7f09"]]},{"id":"858f70.07c7f09","type":"range","z":"20de1502.094662","minin":"0","maxin":"1","minout":"0","maxout":"65565","action":"scale","round":true,"name":"Mapiraj Range 10-65565","x":954.199951171875,"y":333.60003662109375,"wires":[["e800978d.8656b8"]]},{"id":"e800978d.8656b8","type":"template","z":"20de1502.094662","name":"Convert","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"hue\":{{payload}},\n    \"id\":4\n}","x":1138.199951171875,"y":332.60003662109375,"wires":[["40fbeb3b.0c1bec"]]},{"id":"8680b115.c59c98","type":"function","z":"20de1502.094662","name":"Vrni phrase_32char","func":"\nreturn {payload:msg.forecasts[1].phrase_32char};","outputs":1,"noerr":0,"x":147.19998168945312,"y":607.0000610351562,"wires":[["837298f5.21d6d","9f043f34.e12f58"]]},{"id":"837298f5.21d6d","type":"switch","z":"20de1502.094662","name":"Sun,Rain,Cloud,Clear..","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Sun","vt":"str"},{"t":"cont","v":"Rain","vt":"str"},{"t":"cont","v":"Cloud","vt":"str"},{"t":"cont","v":"Clear","vt":"str"},{"t":"cont","v":"Thunder","vt":"str"},{"t":"cont","v":"Storm","vt":"str"}],"checkall":"false","outputs":6,"x":400.49998474121094,"y":591.1999816894531,"wires":[["81e0d470.0cffa8"],["964464ab.7ebcb"],["cae499c9.78565"],["2d7dedcd.fd4a22"],["b28caadc.8038f8"],["b28caadc.8038f8"]]},{"id":"81e0d470.0cffa8","type":"template","z":"20de1502.094662","name":"Rdeče luči","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"hue\":2386,\n    \"sat\":255,\n    \"id\":4\n}","x":632.1999969482422,"y":547.4000549316406,"wires":[["40fbeb3b.0c1bec","a5219e26.b7503"]]},{"id":"964464ab.7ebcb","type":"template","z":"20de1502.094662","name":"Modre luči","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"hue\":43710,\n    \"sat\":255,\n    \"id\":4\n}","x":631.1999969482422,"y":590.4000549316406,"wires":[["40fbeb3b.0c1bec","a5219e26.b7503"]]},{"id":"cae499c9.78565","type":"template","z":"20de1502.094662","name":"Cyan luči","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"hue\":37640,\n    \"sat\":255,\n    \"id\":4\n}","x":622.9999847412109,"y":632.0000305175781,"wires":[["40fbeb3b.0c1bec","a5219e26.b7503"]]},{"id":"a5219e26.b7503","type":"debug","z":"20de1502.094662","name":"","active":true,"console":"false","complete":"false","x":952.9999847412109,"y":591.0000305175781,"wires":[]},{"id":"2d7dedcd.fd4a22","type":"template","z":"20de1502.094662","name":"Oranžne luči","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"hue\":8169,\n    \"sat\":255,\n    \"id\":4\n}","x":631.9999847412109,"y":675.0000305175781,"wires":[["a5219e26.b7503","40fbeb3b.0c1bec"]]},{"id":"b28caadc.8038f8","type":"template","z":"20de1502.094662","name":"Vijolične luči","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"hue\":58897,\n    \"sat\":255,\n    \"id\":4\n}","x":635.9999847412109,"y":724.0000305175781,"wires":[["a5219e26.b7503","40fbeb3b.0c1bec"]]},{"id":"897f8e3e.72bcf","type":"http in","z":"20de1502.094662","name":"ugasni lucke","url":"/lucke/ugasni","method":"get","swaggerDoc":"","x":141.8333740234375,"y":916.3332824707031,"wires":[["6825b474.2f70bc"]]},{"id":"6825b474.2f70bc","type":"template","z":"20de1502.094662","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"on\":false,\n    \"id\":{{payload.id}}\n}","x":407.8333740234375,"y":898.0000305175781,"wires":[["f5a06422.842f88","1e3bacb.9bb8f53"]]},{"id":"f5a06422.842f88","type":"function","z":"20de1502.094662","name":"GW","func":"\nreturn msg;","outputs":1,"noerr":0,"x":833.8333435058594,"y":1102.3330383300781,"wires":[["40fbeb3b.0c1bec","13488b32.530855"]]},{"id":"44f1fc7d.69c124","type":"http in","z":"20de1502.094662","name":"prizgi lucke","url":"/lucke/prizgi","method":"get","swaggerDoc":"","x":137.83335876464844,"y":985.3335266113281,"wires":[["6162f632.491018"]]},{"id":"6162f632.491018","type":"template","z":"20de1502.094662","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"on\":true,\n    \"id\":{{payload.id}}\n}","x":363.66668701171875,"y":979.3337707519531,"wires":[["f5a06422.842f88","1e3bacb.9bb8f53"]]},{"id":"e5062c50.04c3a","type":"ibmiot in","z":"20de1502.094662","authentication":"boundService","apiKey":"d3403521.4f15","inputType":"cmd","deviceId":"RaspberryHue","applicationId":"","deviceType":"Raspberry","eventType":"+","commandType":"cmdColor","format":"json","name":"JSON Hue command event","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":false,"allFormats":"","qos":0,"x":142.83335876464844,"y":1181.6669006347656,"wires":[["b6c198e3.17449"]]},{"id":"626d6fb3.564ef","type":"debug","z":"20de1502.094662","name":"","active":true,"console":"false","complete":"false","x":943.8333435058594,"y":1207.6670227050781,"wires":[]},{"id":"b6c198e3.17449","type":"function","z":"20de1502.094662","name":"Convert to int","func":"msg.payload.hue = parseInt(msg.payload.hue);\nmsg.payload.sat = parseInt(msg.payload.sat);\nmsg.payload.bri = parseInt(msg.payload.bri);\nreturn msg;","outputs":1,"noerr":0,"x":413.8333740234375,"y":1186.6664123535156,"wires":[["626d6fb3.564ef","f5a06422.842f88"]]},{"id":"39fc44ee.ec4be4","type":"ibmiot in","z":"20de1502.094662","authentication":"boundService","apiKey":"d3403521.4f15","inputType":"cmd","deviceId":"RaspberryHue","applicationId":"","deviceType":"Raspberry","eventType":"+","commandType":"cmdState","format":"json","name":"On/Off","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":174.8333740234375,"y":1290.6664123535156,"wires":[["caa1f139.ca35"]]},{"id":"caa1f139.ca35","type":"function","z":"20de1502.094662","name":"Covert to bool","func":"if (msg.payload.on == \"true\") msg.payload.on = true;\nelse msg.payload.on = false;\nreturn msg;","outputs":1,"noerr":0,"x":374.8333740234375,"y":1285.6666564941406,"wires":[["f5a06422.842f88","626d6fb3.564ef"]]},{"id":"d1ce7619.72a2a","type":"ibmiot in","z":"20de1502.094662","authentication":"boundService","apiKey":"d3403521.4f15","inputType":"evt","deviceId":"RaspberryHue","applicationId":"","deviceType":"Raspberry","eventType":"getLights","commandType":"","format":"json","name":"getLights Response","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":163.83334350585938,"y":1738.6660461425781,"wires":[["2bc2f91f.d1cf9e","8230f723.9afc68"]]},{"id":"2bc2f91f.d1cf9e","type":"function","z":"20de1502.094662","name":"get id,name","func":"\nvar payload = msg.payload.d;\n\nif (Object.keys(msg.payload).length !== 0 && msg.payload.constructor !== Object) {\n    var msg1 = context.get(\"req\")||0;\n    msg1.payload = [];\n\n    for (var i in payload) {\n        var obj = {\n            id: i,\n            name: payload[i].name\n        };\n        msg1.payload.push(obj);\n    }\n    context.set(\"req\", null);\n    return msg1;\n    \n} else {\n    context.set(\"req\", msg);\n}\n\n","outputs":1,"noerr":0,"x":464.8333435058594,"y":1640.3330383300781,"wires":[["67695e7e.c903e","43cffa08.ee9a44"]]},{"id":"67695e7e.c903e","type":"debug","z":"20de1502.094662","name":"","active":true,"console":"false","complete":"false","x":771.8333435058594,"y":1637.6662902832031,"wires":[]},{"id":"f895439c.4afb88","type":"comment","z":"20de1502.094662","name":"Procedura za osvežitev vseh luči ,ki so na voljo","info":"Procedura je namenjena pridobitvi vseh luči, ki\nso povezane na Philips Hue Bridge, da se lahko\nv spletni aplikaciji osveži seznam luči.","x":208.83335876464844,"y":1369,"wires":[]},{"id":"13488b32.530855","type":"http response","z":"20de1502.094662","name":"","x":1098.8333435058594,"y":1099.6667785644531,"wires":[]},{"id":"1b5f3da3.b63cba","type":"http in","z":"20de1502.094662","name":"","url":"/lucke/barva","method":"get","swaggerDoc":"","x":142.83335876464844,"y":1074.3333740234375,"wires":[["5e6d6d7d.c84a84","1e3bacb.9bb8f53"]]},{"id":"5e6d6d7d.c84a84","type":"function","z":"20de1502.094662","name":"Covert to Int","func":"msg.payload.hue = parseInt(msg.payload.hue);\nmsg.payload.sat = parseInt(msg.payload.sat);\nmsg.payload.bri = parseInt(msg.payload.bri);\nreturn msg;","outputs":1,"noerr":0,"x":378.66668701171875,"y":1063.0000305175781,"wires":[["f5a06422.842f88"]]},{"id":"31acb5f2.44f6fa","type":"comment","z":"20de1502.094662","name":"UKAZI ZA SPLETNO APLIKACIJO","info":"Tukaj se nahajajo http zahteve za aplikacijo.","x":200.8333740234375,"y":800,"wires":[]},{"id":"9188eaf6.a10038","type":"comment","z":"20de1502.094662","name":"VREME","info":"","x":91.83334350585938,"y":307,"wires":[]},{"id":"8931b36b.577af8","type":"comment","z":"20de1502.094662","name":"MBED - PHILIPS HUE","info":"","x":133.83334350585938,"y":131,"wires":[]},{"id":"28b2de65.f6882a","type":"http in","z":"20de1502.094662","name":"","url":"/lucke/vse","method":"get","swaggerDoc":"","x":113.83332824707031,"y":1526.3330383300781,"wires":[["9a4b4b01.093d4","2bc2f91f.d1cf9e","80317b2e.2874e8"]]},{"id":"80317b2e.2874e8","type":"ibmiot out","z":"20de1502.094662","authentication":"boundService","apiKey":"d3403521.4f15","outputType":"cmd","deviceId":"RaspberryHue","deviceType":"Raspberry","eventCommandType":"getLights","format":"json","data":"on","qos":0,"name":"LED Stripe Command (raspberry)","service":"registered","x":1165.6666259765625,"y":1570.6665344238281,"wires":[]},{"id":"9a4b4b01.093d4","type":"debug","z":"20de1502.094662","name":"","active":true,"console":"false","complete":"true","x":419.8333435058594,"y":1449.333251953125,"wires":[]},{"id":"43cffa08.ee9a44","type":"http response","z":"20de1502.094662","name":"","x":759.8333435058594,"y":1749.3332824707031,"wires":[]},{"id":"1e3bacb.9bb8f53","type":"debug","z":"20de1502.094662","name":"","active":true,"console":"false","complete":"true","x":702.8333435058594,"y":869.3334045410156,"wires":[]},{"id":"3d5523b5.acfd9c","type":"debug","z":"20de1502.094662","name":"","active":true,"console":"false","complete":"false","x":512.8333435058594,"y":420.00006103515625,"wires":[]},{"id":"a2422340.45756","type":"comment","z":"20de1502.094662","name":"Black magic","info":"Dobi in si zabeleži get request, \nko dobi še response od komande \ngetLights vse skupaj z requestom \nzapakira v http response -\nhttp request in response morata\nbiti povezana.","x":449.8333435058594,"y":1576.6666946411133,"wires":[]},{"id":"230c43ea.59c95c","type":"ibmiot in","z":"20de1502.094662","authentication":"boundService","apiKey":"d3403521.4f15","inputType":"evt","deviceId":"RaspberryHue","applicationId":"","deviceType":"Raspberry","eventType":"getState","commandType":"","format":"json","name":"getState Response","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":135.66668701171875,"y":2174.333282470703,"wires":[["a23e18c4.f4a14","d69e28e8.7b6708"]]},{"id":"a23e18c4.f4a14","type":"function","z":"20de1502.094662","name":"get id,name","func":"\nvar payload = msg.payload.d;\n\nif (Object.keys(msg.payload).length !== 0 && msg.payload.constructor !== Object && !msg.payload.req) {\n    var msg1 = context.get(\"req\")||0;\n    \n    msg1.payload = payload;\n\n    /*for (var i in payload) {\n        var obj = {\n            id: i,\n            name: payload[i].name\n        };\n        msg1.payload.push(obj);\n    }*/\n    \n    return msg1;\n    \n} else {\n    context.set(\"req\", msg);\n}\n\n","outputs":1,"noerr":0,"x":500.66668701171875,"y":2061.000274658203,"wires":[["929261c5.aabd08","24647ad8.413dde"]]},{"id":"929261c5.aabd08","type":"debug","z":"20de1502.094662","name":"","active":true,"console":"false","complete":"true","x":787.6666870117188,"y":2058.333526611328,"wires":[]},{"id":"95914e91.7c33a","type":"http in","z":"20de1502.094662","name":"","url":"/lucke/stanje","method":"get","swaggerDoc":"","x":124.66668701171875,"y":1978.0002746582031,"wires":[["a23e18c4.f4a14","75cd8a0b.3297f4"]]},{"id":"24647ad8.413dde","type":"http response","z":"20de1502.094662","name":"","x":795.6666870117188,"y":2170.000518798828,"wires":[]},{"id":"d69e28e8.7b6708","type":"debug","z":"20de1502.094662","name":"","active":false,"console":"false","complete":"true","x":482.66668701171875,"y":2210.334014892578,"wires":[]},{"id":"17c5d620.461be2","type":"comment","z":"20de1502.094662","name":"Black magic","info":"Dobi in si zabeleži get request, \nko dobi še response od komande \ngetLights vse skupaj z requestom \nzapakira v http response -\nhttp request in response morata\nbiti povezana.","x":485.66668701171875,"y":1997.3339309692383,"wires":[]},{"id":"75cd8a0b.3297f4","type":"ibmiot out","z":"20de1502.094662","authentication":"boundService","apiKey":"d3403521.4f15","outputType":"cmd","deviceId":"RaspberryHue","deviceType":"Raspberry","eventCommandType":"getState","format":"json","data":"on","qos":0,"name":"LED Stripe Command (raspberry)","service":"registered","x":934.6666259765625,"y":1881.3332824707031,"wires":[]},{"id":"8230f723.9afc68","type":"debug","z":"20de1502.094662","name":"","active":true,"console":"false","complete":"false","x":385,"y":1783.0000305175781,"wires":[]},{"id":"85d5f70a.c6e778","type":"comment","z":"20de1502.094662","name":"Prejmi mbed payload","info":"","x":132,"y":191,"wires":[]},{"id":"fa7613be.36f48","type":"comment","z":"20de1502.094662","name":"Opis","info":"Če je prišlo do dovolj velike spremembe v \npotenciometrih (to označuje zastavice refresh),\npotem spusti flow naprej, drugače ustavi.\n\nOPOMBA: To je malo zastarelo, mbed že sam ugotovi, \nkdaj poslati payloadi n imajo posledično vsi\npayloadi refresh=1.","x":345,"y":207,"wires":[]},{"id":"7115bbfa.1c9824","type":"comment","z":"20de1502.094662","name":"Opis ","info":"Izluščimo vrednosti obeh potenciometrov (pot1, pot2).\n\nPhilips Hue je nastavljen na barvni format HSV.\nTo je Hue, Saturation, Value/Brightness.\n\nS pot1 kontroliramo svetlost (Brightness),\ns pot2 pa nasičenost (Saturation) in\nodtenek (Hue).\nSpremenljivka 'param' v payloadu, ki lahko zavzame\nvrednosti 0 ali 1, nam pove ali s pot2\nspreminjamo odtenek ali nasičenost.\n\nVrednosti potencimetrov gredo od 0 do 1, \nzato jih je treba razširti/mapirati na \nustrezen razpon:\n-svetlost: 0-255\n-nasičenost: 0-255\n-odtenek: 0-65565\n\nVsaka luč ima svoj ID. Ker v tem primeru hočemo\nkontrolirati le lučke na IoT tabli, moramo dodati\nID s številko 4. V bloku 'Convert' dokončno \nsestavimo komando, ki jo pošljemo do Raspberrija.","x":607,"y":170,"wires":[]},{"id":"e93546db.b62738","type":"comment","z":"20de1502.094662","name":"Opis","info":"Na vsake 20 min prejmemo 48-urno vremensko napoved\nna podanih koordinatah (to so koordinate \nIIC Ljubljana).\n\nVrne nam veliko podatkov, mi pa izluščimo\nsamo 'phrase_32char', ki predstavlja opis vremena\nv nekaj besedah.\nNato pogledamo, katere besede se nahajajo v tem\nstavku in ustrezno obarvamo luči.","x":90.99998474121094,"y":346,"wires":[]},{"id":"f5357ce6.52276","type":"comment","z":"20de1502.094662","name":"Ugasni/prizgi opis","info":"Http zahteva, ki potrebuje tudi parameter ID.\n\nOb prejetju zahteve se skonstruira komanda za \nprižiganje/ugašanje luči s poslanim ID-jem.","x":160,"y":874,"wires":[]},{"id":"c45198c5.784f08","type":"comment","z":"20de1502.094662","name":"Opis lucke/barva","info":"Procedura za spreminjanje barve preko GET zahteve.\n\nTo uporablja aplikacija za spreminjanje barve luči.\nParametri, ki se pošljejo skupaj z zahtevo so:\nID, bri, hue, sat.\n\nTo pokrije barvo v HSV formatu in ID luči, ki ji\nhočemo spremeniti barvo.\n\nPred pošiljanjem komande Raspberriju moramo\nHSV parametre spremeniti v število (int), ker\nso v prej bili predstavljeni kot niz (string).","x":147,"y":1035,"wires":[]},{"id":"4206aa1.8d43b54","type":"comment","z":"20de1502.094662","name":"Deprecated","info":"Mislim, da se to ne uporablja več.","x":137,"y":1130,"wires":[]},{"id":"e7d08ebd.0735f","type":"comment","z":"20de1502.094662","name":"Opis","info":"Ob zahtevi pošljemu Raspberriju komando, nam naj \nvrne vse luči, povezane na Philips Hue Bridge.\n\nV 'getLights Response' bloku nam pošlje vse luči,\nmi pa te luči nato prek HTTP odgovora vrnemo\ntistemu, ki je to zahteval.","x":76,"y":1466,"wires":[]},{"id":"941ff4ed.f8ab18","type":"comment","z":"20de1502.094662","name":"Procedura za pridobitev stanja določene luči","info":"Ko v aplikaciji spremenimo izbrano luč,\nse izpiše ali je prižgana/uasnjena ter\nse nastavi trenutna barva.","x":194,"y":1853,"wires":[]},{"id":"f79678d0.00c308","type":"comment","z":"20de1502.094662","name":"Opis","info":"Procedura deluje enako kot tista zgoraj.\n\nV GET zahtevi rabimo parameter ID, da vemo stanje\nod katere luči gledati.","x":76,"y":1906,"wires":[]},{"id":"73435fdc.1640e8","type":"ibmiot","z":"20de1502.094662","name":"RecipeAPIKey","keepalive":"60","cleansession":true},{"id":"d3403521.4f15","type":"ibmiot","z":"20de1502.094662","name":""}]
