bluemix_nodes/node-solvera-hue.txt
[{"id":"41794749.a5589","type":"http in","z":"52227f24.11b4e8","name":"","url":"/solvera","method":"post","swaggerDoc":"","x":106.83334350585938,"y":225.3333740234375,"wires":[["5f3230af.48b8","6416b50d.14860c"]]},{"id":"5f3230af.48b8","type":"debug","z":"52227f24.11b4e8","name":"","active":false,"console":"false","complete":"false","x":154.8333740234375,"y":365.66668701171875,"wires":[]},{"id":"6416b50d.14860c","type":"xml","z":"52227f24.11b4e8","name":"Convert to JS Object","attr":"","chr":"","x":323.8333740234375,"y":224.99996948242188,"wires":[["c7116f9c.c440c8","41706fa7.5f642"]]},{"id":"c7116f9c.c440c8","type":"function","z":"52227f24.11b4e8","name":"Parsing","func":"var payload_hex = msg.payload.DevEUI_uplink.payload_hex[0];\nvar id = msg.payload.DevEUI_uplink.DevEUI[0];\n\nif (id.slice(-2) == \"C6\") {\n    \n    var ts = payload_hex.slice(3, 11);\n    \n    msg.payload = {};\n    msg.payload.hex = payload_hex;\n    msg.payload._id = id;\n    msg.payload.timestamp = parseInt(ts, 16);\n    msg.payload.date = new Date(0);\n    msg.payload.date.setUTCSeconds(msg.payload.timestamp);\n    msg.payload.ID = \"Solvera\";\n    msg.payload.delta = 999;\n    \n    msg.payload.d1 = payload_hex.slice(11, 13);\n    msg.payload.d2 = payload_hex.slice(12, 14);\n    \n    \n    //poglej ali so vrata odprta\n    //var change_payload = payload_hex.slice(13,15);\n    var change_payload = payload_hex.slice(-2);\n    //var verify_command = payload_hex.slice(0,4);\n    //if(verify_command === \"3301\") {\n        change_payload = parseInt(change_payload, 16).toString(2);\n        msg.payload.doorStatus = change_payload.slice(0,4);\n    //} else {\n    //    msg.payload.doorStatus = \"/\";\n    //}\n    \n   \n    \n    \n    return  [msg, ];\n} else {\n    \n    var temp1 = payload_hex.slice(12,16);\n    var temp2 = payload_hex.slice(16,20);\n    \n    var ts = payload_hex.slice(4, 12);\n    \n    msg.payload = {};\n    msg.payload.temp1 = Math.round((parseInt(temp1, 16)/10 - 50)*100)/100.0;\n    msg.payload.temp2 = Math.round((parseInt(temp2, 16)/10 - 50)*100)/100.0;\n    msg.payload.hex = payload_hex;\n    msg.payload._id = id;\n    msg.payload.timestamp = parseInt(ts, 16);\n    msg.payload.date = new Date(0);\n    msg.payload.date.setUTCSeconds(msg.payload.timestamp);\n    msg.payload.ID = \"Solvera\";\n    msg.payload.delta = 999;\n    \n    \n    return [ ,msg];\n}\n\n\n","outputs":"2","noerr":0,"x":550.8333740234375,"y":225.66664123535156,"wires":[["f9b601f1.a7ca2","9485eafc.8f1438"],["f9b601f1.a7ca2","59ea4cad.fa9934"]]},{"id":"eddc418b.2551f8","type":"ibmiot out","z":"52227f24.11b4e8","authentication":"boundService","apiKey":"d3403521.4f15","outputType":"cmd","deviceId":"RaspberryHue","deviceType":"Raspberry","eventCommandType":"LEDStripeCommand","format":"json","data":"on","qos":0,"name":"LED Stripe Command (raspberry)","service":"registered","x":1366.6666259765625,"y":284.6666564941406,"wires":[]},{"id":"3a2ad3ab.e06064","type":"template","z":"52227f24.11b4e8","name":"Rdeče luči","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"hue\":2386,\n    \"sat\":255,\n    \"bri\":255,\n    \"id\":5\n}","x":1067.6666259765625,"y":196.66665649414062,"wires":[["eddc418b.2551f8","cb08bc99.dfcf4","56612201.b644bc"]]},{"id":"cdda0c6c.ac99e8","type":"template","z":"52227f24.11b4e8","name":"Modre luči","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"hue\":43710,\n    \"sat\":255,\n    \"bri\":255,\n    \"id\":5\n}","x":1066.6666259765625,"y":234.66665649414062,"wires":[["eddc418b.2551f8"]]},{"id":"f9b601f1.a7ca2","type":"debug","z":"52227f24.11b4e8","name":"","active":true,"console":"false","complete":"true","x":622.8334350585938,"y":349.66664123535156,"wires":[]},{"id":"41706fa7.5f642","type":"debug","z":"52227f24.11b4e8","name":"","active":false,"console":"false","complete":"true","x":411.8333740234375,"y":363.6666564941406,"wires":[]},{"id":"59ea4cad.fa9934","type":"function","z":"52227f24.11b4e8","name":"Get ID","func":"msg.data = msg.payload;\nmsg.payload = msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":999.6666259765625,"y":512.6666870117188,"wires":[["daf97153.6a002","1ac655fe.b9a8da"]]},{"id":"daf97153.6a002","type":"cloudant in","z":"52227f24.11b4e8","name":"Get last data","cloudant":"","database":"last_data","service":"IoTPlatformIICLjuljana-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":1264.6665954589844,"y":511.6667709350586,"wires":[["69afc226.d20a9c"]]},{"id":"69afc226.d20a9c","type":"function","z":"52227f24.11b4e8","name":"Set query","func":"msg.data['_id'] = msg.payload['_id'];\nmsg.data['_rev'] = msg.payload['_rev'];\nmsg.data['delta'] = parseInt(msg.data['timestamp']) - parseInt(msg.payload['timestamp']);\nmsg.payload = msg.data;\nreturn msg;","outputs":1,"noerr":0,"x":1409.6665954589844,"y":511.6667709350586,"wires":[["15eef724.9ac759"]]},{"id":"15eef724.9ac759","type":"cloudant out","z":"52227f24.11b4e8","name":"Update query","cloudant":"","database":"last_data","service":"IoTPlatformIICLjuljana-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1563.6665954589844,"y":510.6667709350586,"wires":[]},{"id":"1ac655fe.b9a8da","type":"debug","z":"52227f24.11b4e8","name":"","active":true,"console":"false","complete":"true","x":1259.8333740234375,"y":561.3333740234375,"wires":[]},{"id":"14ca1658.66a78a","type":"inject","z":"52227f24.11b4e8","name":"Inject RED","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":869,"y":148,"wires":[["3a2ad3ab.e06064"]]},{"id":"4647c423.497f5c","type":"inject","z":"52227f24.11b4e8","name":"Inject BLUE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":876,"y":297,"wires":[["cdda0c6c.ac99e8"]]},{"id":"9485eafc.8f1438","type":"function","z":"52227f24.11b4e8","name":"Check door status","func":"if (msg.payload.doorStatus === \"/\") {\n    return [,,msg];\n}\n\n\n\nif (msg.payload.doorStatus !== \"1000\") {\n    return [msg,,];\n} else {\n    return [,msg,];\n}","outputs":"3","noerr":0,"x":797,"y":218,"wires":[["3a2ad3ab.e06064"],["cdda0c6c.ac99e8"],[]]},{"id":"cb08bc99.dfcf4","type":"debug","z":"52227f24.11b4e8","name":"","active":true,"console":"false","complete":"false","x":1328,"y":87,"wires":[]},{"id":"6d8079d2.189028","type":"comment","z":"52227f24.11b4e8","name":"Opis","info":"Trenutno imamo od Solvere 3 senzorje. 2 senzorja\nsta namenjena merjenju temeprature, 1 pa je na\nvratih v Datacentru in se sproži, ko se vrata \nodprejo/zaprejo.\n\nTemperaturna senzorja pošiljata podatke na 15min, \ntisti na vratih pa na 1 uro oz. ko se vrata\nodprejo/zaprejo.\n\nVse podatke dobimo preko POST zahteve v XML obliki.\nNajprej jih pretvorimo v JavaScript objekt,\nnato pa sparasmo payload, ki je v Hex zapisu.\n\nV 'Parsing bloku' ugovovimo tudi kateri senzor je\npodatke poslal. \n\nČe so prišli podatki iz temperaturnega senzorja,\npotem meritve zapišemo v bazo, če pa so podatki\nprišli od senzorja na vratih moramo še ugotoviti,\nv kakem stanju so vrata (odprta/zaprta) in ustrezno\nobarvati lučke.\nČe so vrata odprta svetijo rdeče, drugače pa modre.\nV sklopu te procedure se skonstruira komanda\nza spreminjanje barve in se pošlje Raspberriju.\nUporabimo ID s številko 5 (Datacenter LED strip).","x":89,"y":173,"wires":[]},{"id":"56612201.b644bc","type":"function","z":"52227f24.11b4e8","name":"","func":"msg.topic = \"Vrata v Datacentru odprta!\";\nmsg.payload = \"Nekdo je odprl vrata v Datacentru!\";\nreturn msg;","outputs":1,"noerr":0,"x":1303,"y":177,"wires":[[]]},{"id":"95692d4a.a1a58","type":"e-mail","z":"52227f24.11b4e8","server":"smtp.gmail.com","port":"465","name":"iic@si.ibm.com","dname":"","x":1505,"y":178,"wires":[]},{"id":"d3403521.4f15","type":"ibmiot","z":"20de1502.094662","name":""}]
