bluemix_nodes/node-sensor-debug.txt
[{"id":"dc56596a.9704d8","type":"json","z":"77758c84.7ed1c4","name":"soba7","x":845.2857055664062,"y":200,"wires":[["d0a78fa2.81aa5"]]},{"id":"b8f817dd.f05078","type":"json","z":"77758c84.7ed1c4","name":"soba8","x":846.8571166992188,"y":243.7142572402954,"wires":[["5a4014a7.b6163c"]]},{"id":"cc2ad614.5ab448","type":"json","z":"77758c84.7ed1c4","name":"soba9","x":846.4285888671875,"y":285.1428461074829,"wires":[["b958b864.a27d58"]]},{"id":"ccf8af73.2ac4c","type":"comment","z":"77758c84.7ed1c4","name":"Filtriraj glede na ID","info":"","x":663.6666870117188,"y":373.23805236816406,"wires":[]},{"id":"d0a78fa2.81aa5","type":"debug","z":"77758c84.7ed1c4","name":"FF-326 Data","active":false,"console":"false","complete":"payload","x":1005.499870300293,"y":200.6380853652954,"wires":[]},{"id":"5a4014a7.b6163c","type":"debug","z":"77758c84.7ed1c4","name":"FF-394 Data","active":false,"console":"false","complete":"payload","x":1009.5,"y":243.8381586074829,"wires":[]},{"id":"b958b864.a27d58","type":"debug","z":"77758c84.7ed1c4","name":"FF-368 Data","active":false,"console":"false","complete":"payload","x":1009.5,"y":282.8381586074829,"wires":[]},{"id":"c377a054.f6d68","type":"json","z":"77758c84.7ed1c4","name":"tabla(Innovation)","x":885.5999755859375,"y":325.6380920410156,"wires":[["af56c0b.a223f4"]]},{"id":"af56c0b.a223f4","type":"debug","z":"77758c84.7ed1c4","name":"FF-431 Data","active":false,"console":"false","complete":"payload","x":1071.6714477539062,"y":326.0476379394531,"wires":[]},{"id":"ab427769.71dd58","type":"ibmiot in","z":"77758c84.7ed1c4","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"WatsonIoT","applicationId":"","deviceType":"arduinogw","eventType":"+","commandType":"","format":"json","name":"WatsonIoT Gateway","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":218,"y":512,"wires":[["24d998c2.6acc98"]]},{"id":"a57170b3.da029","type":"json","z":"77758c84.7ed1c4","name":"soba2","x":842.8571166992188,"y":367.80950927734375,"wires":[["e639d229.80f16"]]},{"id":"9bf3413c.b841","type":"json","z":"77758c84.7ed1c4","name":"tabla(IoT)","x":852.4285888671875,"y":409.23809814453125,"wires":[["3c2f22f7.7b3ebe"]]},{"id":"7799b0f4.3f99c","type":"json","z":"77758c84.7ed1c4","name":"soba3","x":839.4285278320312,"y":451.52386474609375,"wires":[["5f987c10.6565c4"]]},{"id":"e639d229.80f16","type":"debug","z":"77758c84.7ed1c4","name":"FF-382 Data","active":false,"console":"false","complete":"payload","x":1005.5,"y":367.93341064453125,"wires":[]},{"id":"3c2f22f7.7b3ebe","type":"debug","z":"77758c84.7ed1c4","name":"FF-398 Data","active":false,"console":"false","complete":"payload","x":1005.5,"y":406.93341064453125,"wires":[]},{"id":"5f987c10.6565c4","type":"debug","z":"77758c84.7ed1c4","name":"FF-353 Data","active":false,"console":"false","complete":"payload","x":1004.5,"y":448.93341064453125,"wires":[]},{"id":"ac6796ef.cae588","type":"json","z":"77758c84.7ed1c4","name":"watson(plakat)","x":871.5999755859375,"y":491.73333740234375,"wires":[["71f2ec44.cda1d4"]]},{"id":"71f2ec44.cda1d4","type":"debug","z":"77758c84.7ed1c4","name":"FF-318 Data","active":false,"console":"false","complete":"payload","x":1059.6714477539062,"y":492.14288330078125,"wires":[]},{"id":"24d998c2.6acc98","type":"function","z":"77758c84.7ed1c4","name":"Timestamp/Source","func":"msg.payload.d.timestamp = Date.now();\nmsg.payload.d.room = \"WatsonIoT\";\nreturn msg;","outputs":1,"noerr":0,"x":448.9000244140625,"y":505.33331298828125,"wires":[["9319bdaf.87ac2"]]},{"id":"1fcc8085.0908df","type":"json","z":"77758c84.7ed1c4","name":"vratasp.","x":851.2857055664062,"y":535.0952520370483,"wires":[["574dfd91.d64294"]]},{"id":"ade9345e.3e8fd8","type":"json","z":"77758c84.7ed1c4","name":"vratazg.","x":852.8571166992188,"y":578.8095092773438,"wires":[["3e86e414.58ad9c"]]},{"id":"7b3ea85f.c2cff8","type":"json","z":"77758c84.7ed1c4","name":"zadajsp.","x":852.4285888671875,"y":620.2380981445312,"wires":[["cb509e35.3e6b3"]]},{"id":"1cf8a366.2031dd","type":"json","z":"77758c84.7ed1c4","name":"zadajzg.","x":849.4285278320312,"y":662.5238647460938,"wires":[["b6886aa8.f23788"]]},{"id":"574dfd91.d64294","type":"debug","z":"77758c84.7ed1c4","name":"FF-390 Data","active":false,"console":"false","complete":"payload","x":1001.499870300293,"y":535.7333374023438,"wires":[]},{"id":"3e86e414.58ad9c","type":"debug","z":"77758c84.7ed1c4","name":"FF-409 Data","active":false,"console":"false","complete":"payload","x":1005.5,"y":578.9334106445312,"wires":[]},{"id":"cb509e35.3e6b3","type":"debug","z":"77758c84.7ed1c4","name":"FF-424 Data","active":false,"console":"false","complete":"payload","x":1005.5,"y":617.9334106445312,"wires":[]},{"id":"b6886aa8.f23788","type":"debug","z":"77758c84.7ed1c4","name":"FF-430 Data","active":false,"console":"false","complete":"payload","x":1004.5,"y":659.9334106445312,"wires":[]},{"id":"6701e0cf.0b559","type":"json","z":"77758c84.7ed1c4","name":"hodnik","x":853.2857055664062,"y":824.0952758789062,"wires":[["cd3b58eb.6fb1e8"]]},{"id":"8e5ca997.6f6558","type":"json","z":"77758c84.7ed1c4","name":"soba5","x":852.8571166992188,"y":862.8095092773438,"wires":[["59bfbc62.06eae4"]]},{"id":"65b0cf7f.08879","type":"json","z":"77758c84.7ed1c4","name":"soba6","x":852.4285888671875,"y":902.2380981445312,"wires":[["7a5bb866.0b09f8"]]},{"id":"cd3b58eb.6fb1e8","type":"debug","z":"77758c84.7ed1c4","name":"FF-433 Data","active":false,"console":"false","complete":"payload","x":1008.499870300293,"y":823.7333612442017,"wires":[]},{"id":"59bfbc62.06eae4","type":"debug","z":"77758c84.7ed1c4","name":"FF-301 Data","active":false,"console":"false","complete":"payload","x":1015.5,"y":862.9334106445312,"wires":[]},{"id":"7a5bb866.0b09f8","type":"debug","z":"77758c84.7ed1c4","name":"FF-327 Data","active":false,"console":"false","complete":"payload","x":1015.5,"y":901.9334106445312,"wires":[]},{"id":"c9d2200e.f2f64","type":"debug","z":"77758c84.7ed1c4","name":"FF-xxx Data","active":true,"console":"false","complete":"payload","x":1009,"y":1093,"wires":[]},{"id":"bfaed254.fc535","type":"json","z":"77758c84.7ed1c4","name":"Neznan ID","x":859,"y":1093,"wires":[["c9d2200e.f2f64"]]},{"id":"9319bdaf.87ac2","type":"switch","z":"77758c84.7ed1c4","name":"ID Filter","property":"payload.d.ID","propertyType":"msg","rules":[{"t":"eq","v":"FF-326","vt":"str"},{"t":"eq","v":"FF-394","vt":"str"},{"t":"eq","v":"FF-368","vt":"str"},{"t":"eq","v":"FF-431","vt":"str"},{"t":"eq","v":"FF-382","vt":"str"},{"t":"eq","v":"FF-398","vt":"str"},{"t":"eq","v":"FF-353","vt":"str"},{"t":"eq","v":"FF-318","vt":"str"},{"t":"eq","v":"FF-390","vt":"str"},{"t":"eq","v":"FF-409","vt":"str"},{"t":"eq","v":"FF-424","vt":"str"},{"t":"eq","v":"FF-430","vt":"str"},{"t":"eq","v":"FF-433","vt":"str"},{"t":"eq","v":"FF-301","vt":"str"},{"t":"eq","v":"FF-327","vt":"str"},{"t":"eq","v":"FF-321","vt":"str"},{"t":"eq","v":"FF-369","vt":"str"},{"t":"eq","v":"FF-160","vt":"str"},{"t":"else"}],"checkall":"false","outputs":19,"x":669,"y":555,"wires":[["dc56596a.9704d8","e768d339.f3c61"],["b8f817dd.f05078","e768d339.f3c61"],["cc2ad614.5ab448","e768d339.f3c61"],["c377a054.f6d68","e768d339.f3c61"],["a57170b3.da029","e768d339.f3c61"],["9bf3413c.b841","e768d339.f3c61"],["7799b0f4.3f99c","e768d339.f3c61"],["ac6796ef.cae588","e768d339.f3c61"],["1fcc8085.0908df","e768d339.f3c61"],["ade9345e.3e8fd8","e768d339.f3c61"],["7b3ea85f.c2cff8","e768d339.f3c61"],["1cf8a366.2031dd","e768d339.f3c61"],["6701e0cf.0b559","e768d339.f3c61"],["8e5ca997.6f6558","e768d339.f3c61"],["65b0cf7f.08879","e768d339.f3c61"],["e768d339.f3c61","e23c13a5.66b64"],["e768d339.f3c61","88d11869.e2ed48"],["e768d339.f3c61","89656dc3.8a337"],["7dddfea0.4eebe"]]},{"id":"7dddfea0.4eebe","type":"function","z":"77758c84.7ed1c4","name":"One function to mark them all","func":"msg.payload.d.recognize = \"Outsider\";\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":1095,"wires":[["bfaed254.fc535"]]},{"id":"e768d339.f3c61","type":"function","z":"77758c84.7ed1c4","name":"Get ID","func":"var allowed_ids = [\"FF-353\", \"FF-382\", \"FF-409\", \"FF-424\", \"FF-318\", \"FF-394\", \"FF-368\", \"FF-431\", \"FF-390\", \"FF-430\", \"FF-321\", \"FF-369\", \"FF-327\", \"FF-433\", \"FF-301\", \"FF-326\", \"FF-398\"];\n\nmsg.data = msg.payload.d;\nmsg.payload = msg.payload['d']['ID'];\n\nfor(var i = 0; i < allowed_ids.length; i++) {\n    if(allowed_ids[i] === msg.payload) {\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":181,"y":111,"wires":[["f258a656.72d328"]]},{"id":"84c1dc4b.b21","type":"cloudant in","z":"77758c84.7ed1c4","name":"Get last data","cloudant":"","database":"last_data","service":"IoTPlatformIICLjuljana-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":476,"y":72,"wires":[["235b9725.d90788"]]},{"id":"235b9725.d90788","type":"function","z":"77758c84.7ed1c4","name":"Set query","func":"msg.data['_id'] = msg.payload['_id'];\nmsg.data['_rev'] = msg.payload['_rev'];\nmsg.data['delta'] = parseInt(msg.data['timestamp']) - parseInt(msg.payload['timestamp']);\nmsg.payload = msg.data;\nreturn msg;","outputs":1,"noerr":0,"x":617,"y":71,"wires":[["1f3a1f92.ab307","6bc33188.cd511"]]},{"id":"1f3a1f92.ab307","type":"cloudant out","z":"77758c84.7ed1c4","name":"Update query","cloudant":"","database":"last_data","service":"IoTPlatformIICLjuljana-cloudantNoSQLDB","payonly":true,"operation":"insert","x":780,"y":71,"wires":[]},{"id":"e23c13a5.66b64","type":"json","z":"77758c84.7ed1c4","name":"soba1a","x":860,"y":704,"wires":[["574d0465.f2d00c"]]},{"id":"88d11869.e2ed48","type":"json","z":"77758c84.7ed1c4","name":"soba1b","x":859.5714111328125,"y":742.7142333984375,"wires":[["d0185c06.f26e3"]]},{"id":"574d0465.f2d00c","type":"debug","z":"77758c84.7ed1c4","name":"FF-321 Data","active":false,"console":"false","complete":"payload","x":1005.2141647338867,"y":703.6380853652954,"wires":[]},{"id":"d0185c06.f26e3","type":"debug","z":"77758c84.7ed1c4","name":"FF-369 Data","active":false,"console":"false","complete":"payload","x":1012.2142944335938,"y":742.838134765625,"wires":[]},{"id":"a346866c.5196d8","type":"comment","z":"77758c84.7ed1c4","name":"WatsonIoT; trenutno Arduino; čakamo nov firmware; potem bo na Blueberriju","info":"","x":1071.7142944335938,"y":946.9047241210938,"wires":[]},{"id":"1020a181.94aeae","type":"ibmiot in","z":"77758c84.7ed1c4","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"BlueberryPie","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"BlueberryPie Gateway","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":223,"y":563.0000066757202,"wires":[["8565c94.770c938"]]},{"id":"8565c94.770c938","type":"function","z":"77758c84.7ed1c4","name":"Timestamp/Source","func":"msg.payload.d.timestamp = Date.now();\nmsg.payload.d.room = \"BlueberryPie\";\nreturn msg;","outputs":1,"noerr":0,"x":452.9000244140625,"y":562.3333129882812,"wires":[["9319bdaf.87ac2"]]},{"id":"758f5aee.165944","type":"debug","z":"77758c84.7ed1c4","name":"FF-160 Data","active":false,"console":"false","complete":"payload","x":1014,"y":993,"wires":[]},{"id":"89656dc3.8a337","type":"json","z":"77758c84.7ed1c4","name":"tabla(IoT)","x":863,"y":993,"wires":[["758f5aee.165944"]]},{"id":"6bc33188.cd511","type":"debug","z":"77758c84.7ed1c4","name":"","active":false,"console":"false","complete":"false","x":786,"y":117,"wires":[]},{"id":"a1cd7c81.82ac","type":"comment","z":"77758c84.7ed1c4","name":"SmartPie; je postavljen a trenutno ne dela","info":"","x":959,"y":785,"wires":[]},{"id":"c302d3e3.4dea4","type":"comment","z":"77758c84.7ed1c4","name":"RaspberryPie","info":"","x":864,"y":158,"wires":[]},{"id":"cdde8b63.083278","type":"ibmiot in","z":"77758c84.7ed1c4","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"SmartPie2","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"SmartPie Gateway","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":214,"y":631,"wires":[["f71cc855.d3a348"]]},{"id":"f71cc855.d3a348","type":"function","z":"77758c84.7ed1c4","name":"Timestamp/Source","func":"msg.payload.d.timestamp = Date.now();\nmsg.payload.d.room = \"SmartPie\";\nreturn msg;","outputs":1,"noerr":0,"x":453.9000244140625,"y":630.333306312561,"wires":[["b5b6f71c.f6b4c8","9319bdaf.87ac2"]]},{"id":"b5b6f71c.f6b4c8","type":"debug","z":"77758c84.7ed1c4","name":"","active":false,"console":"false","complete":"false","x":455,"y":718,"wires":[]},{"id":"f7a44dc5.9de25","type":"inject","z":"77758c84.7ed1c4","name":"Queue interval","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":137,"y":65,"wires":[["f258a656.72d328"]]},{"id":"f258a656.72d328","type":"function","z":"77758c84.7ed1c4","name":"Queue","func":"if (typeof msg.payload === 'number') {\n    //timestamp\n    if(typeof vrsta !== 'undefined') {\n        var el = vrsta.shift();\n        if(typeof el !== undefined) {\n            return el;\n        }\n    }\n} else {\n    // podatek\n    if(typeof vrsta === 'undefined') {\n        vrsta = [msg];\n    } else {\n        vrsta.push(msg);\n    }\n}","outputs":1,"noerr":0,"x":321,"y":71,"wires":[["84c1dc4b.b21"]]},{"id":"e778a354.625c9","type":"comment","z":"77758c84.7ed1c4","name":"Zapis v bazo","info":"Tukaj se meritve zapišejo v bazo.\n\nNajprej se naredi 'filter', katere senzorje sploh\npustimo/želimo zapisovati v bazo. To se naredi v\nbloku 'Get ID', v tisti veliki tabeli. \n\nPred samim zapisom je procedura malce upočasnjena\nz vrsto, da ne bi prišlo do napak \nzaradi prehitrega vpisovanja v bazo.","x":102,"y":25,"wires":[]},{"id":"4fed5aa4.797724","type":"comment","z":"77758c84.7ed1c4","name":"ID filter","info":"Iz vseh gatewayov sprejemamo podatke in jim v \nbloku 'Timestamp/Source' dodamo timestamp in \noznačimo, preko katerega gatewaya je podatek\nprišel (zaradi preglednosti/troubleshootanja).\n\nPodatke nato popljemo čez velik ID filter.\nTo zato, da ločimo podatke vseh senzorjev in da \nlahko na koncu obkljukamo za katere senzorje želimo,\nda se nam podatki izpisujejo v 'debug'. Poleg tega\ngredo podatki do procedure za vpis v bazo (zgoraj).\n\nČe ID filter ID-ja ne prepozna, se podatki ne \nzapišejo v bazo, označimo jih pa kot 'Outsider'. \nTo nam omogoča lažje ugotavljanje, če \nslučajno lovimo kak senzor, ki ga ne pričakujemo.","x":203,"y":421,"wires":[]}]
